<div id="container">
    <div class="nav nav-hide">
        <div id="nav-heading">
        </div>
        <div id="nav-content">
            <ul>
                <li><a href="" ng-click="Query('CustomerLocations')">All Customers</a></li>
                <li><a href="" ng-click="CustomerTotalPerRep()">Customer Totals Per Rep</a></li>
            </ul>
        </div>
    </div>

    <div id="nav-backbox" class="nav-backbox-hide"></div>
   <div id="nav-icon"><i class="fa fa-bars"></i></div>
   <div id="map"></div>
</div>
